/*

HEADER
---------------------------------------------------------

*/

.site__header {
	background: darken($darkColor, 5%);
	padding: $spacing-xs $spacing-s;
  @extend %clearfix;
}

.site__nav {
  float: left;
  margin: 8px 0 0;
	ul {
		margin: 0;
	}
	li {
		display: inline-block;
		font-size: $text-size-s;
		margin: 0 $spacing-xxs 0 0;
		a {
			color: lighten($darkColor, 30%);
			&:hover {
				color: lighten($darkColor, 50%);
			}
		}
	}
}

.header__search {
  float: right;
}


/*

LIVE BANNER
----------------------------------------------------------- */

.live-banner {
  background: darken($darkColor, 10%);
  padding: 10px $spacing-s;
  vertical-align: middle;
  p {
    display: inline-block;
    color: #fff;
    font-size: $text-size-xs;
    font-weight: bold;
    margin: 0;
  }
}

.recording {
  background: red;
  border-radius: 30px;
  display: inline-block;
  height: 10px; width: 10px;
  margin: -5px 5px 0 0;
  box-shadow: 0 0 5px red;
  -webkit-animation-iteration-count: infinite;
   -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
       animation-iteration-count: infinite;
}

// Recording Animation

.animated {
  -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
       -o-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0%, 50%, 100% {opacity: 1;} 
  25%, 75% {opacity: 0;}
}

@-moz-keyframes pulse {
  0%, 50%, 100% {opacity: 1;} 
  25%, 75% {opacity: 0;}
}

@-o-keyframes pulse {
  0%, 50%, 100% {opacity: 1;} 
  25%, 75% {opacity: 0;}
}

@keyframes pulse {
  0%, 50%, 100% {opacity: 1;} 
  25%, 75% {opacity: 0;}
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}