
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #2e353c;
$bodyColor: #383d40;
$linkColor: #7eb3ab;
$borderColor: #eaebed;
$jazzColor: #c77851;
$alertColor: #e54a4f;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs: 15px;
$spacing-xs: 20px;
$spacing-s: 30px;
$spacing-m: 40px;
$spacing-l: 50px;
$spacing-xl: 60px;