/*

TYPE
-------------------------------------------
Table of Contents

	- Base Type

	- Fonts

	- Headings

	- Text

	- Inline Type

	- Blockquote

	- hr

	- Links

------------------------------------------- */


/*

BASE TYPE
------------------------------------------- */

body {
	@extend %sans;
	font-size: 110%;
	line-height: 140%;
	color: $bodyColor;
}


/*

FONTS
------------------------------------------- */

%sans {
	font-family: "jaf-facitweb",sans-serif;
}

// %serif {
// 	font-family: ;
// }


/*

HEADINGS
------------------------------------------- */


/*

TEXT
------------------------------------------- */

// TYPE SIZE VARIABLES

$text-size-xs: .8em;
$text-size-s: .9em;
$text-size-m: 1em;
$text-size-l: 1.5em;
$text-size-xl: 2em;

%heading-size-s { font-size: .95em;}
%heading-size-m { font-size: 1.25em;}
%heading-size-l { font-size: 1.5em;}
%heading-size-xl { font-size: 2em;}


// MAIN COLUMN TEXT STYLES

h2,
h3,
h4 {
	font-weight: bold;
}

.content__main-column {
	h2 {
		margin: 0 0 $spacing-xxs;
		@extend %heading-size-m;
	}
	h3 {
		margin: 0 0 $spacing-xxs;
	}
	h4 {
		line-height: 170%;
		margin: $spacing-xs + 5px 0 1px;
		@extend %heading-size-s;
	}
	p {
		font-size: $text-size-s;
		line-height: 160%;
		margin: 0 0 $spacing-xs;
		&:last-child {
			margin: 0;
		}
	}
}

p.pubdate {
	color: lighten($darkColor, 45%);
	font-size: $text-size-xs;
	margin: 0 0 10px;
}



/*

INLINE TYPE
------------------------------------------- */

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


/*

BLOCKQUOTE
------------------------------------------- */


/*

HR
------------------------------------------- */

hr {
	border: solid $borderColor;
	border-width: 1px 0 0;
	clear: both;
	margin: $spacing-xs auto;
	height: 0;
	width: auto;
	display: block;
	padding: 0;
}


/*

LINKS
------------------------------------------- */

a {
	color: $linkColor;
	@include transition(.2s ease-in-out);
	&:hover {
		color: $jazzColor;
	}
}


/*

ICON FONT
------------------------------------------- */

@include embed-font("Entypo", "../fonts/entypo/entypo");
%icon-font {
	font-family: "Entypo";
}

[data-icon]:before {
  content: attr(data-icon);
  @extend %icon-font;
  speak: none;
  vertical-align: top;
}